* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}
nav {
    background-color: #2DB1AF;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px; /* Increase padding to make the nav bar bigger */
    height: 80px;
    
}
.logo {
    color: rgb(238, 39, 39);
    margin: 15px;
    padding: 15px;
}

.center {
    color: rgb(238, 39, 39);
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: right; /* Floats the list items to the left */
    padding: 14px 16px; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none;
    background-color: #2DB1AF;
}

nav ul li a {
    background-color: #2DB1AF; 
    text-decoration: none; 
    color: rgb(255, 255, 255);
}

