* {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    flex-direction: column;
}
